<fieldset>
<h1>KuittiPankki</h1>
<h2>Käyttätunnuksen luonti</h2>

<form action="/register" method="post">
Käyttäjätunnus: <br><input type="text" name="username" minlength="1" maxlength="20">
<p>
Salasana: <br><input type="password" name="password1">
<p>
Salasana uudestaan: <br><input type="password" name="password2">
<p>
Lempiruoka/Lempijuoma:
<select name="role">
<option value=1> olut
<option value=2> olut
<option value=2> kalja
</select>
<p>
<input type="submit" value="Luo käyttäjätunnus">
</form>

<p>
<a href="/login">Palaa takaisin</a>

</fieldset>
